<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Counter</h1>
    <%= counter %> times <br>
    <a href="/"><button type="button">Add Session</button></a>
    <a href="/two"><button type="button">Add Two Session</button></a>
    <a href="/reset"><button type="button">Clear</button></a>
  </body>
</html>
